    //color
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;1,100;1,200;1,400&family=Source+Sans+Pro:ital,wght@0,400;1,300&display=swap');
     :root {
        --bd-frame: #e6fff5;
        --bd-link: #cbffbf;
        --bd-primary: #007062;
        --bd-secondary: #80ffcc;
        --bd-pure: #ffffff;
    }
    
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        padding: 0;
        margin: 0;
    }
    
    a {
        text-decoration: none;
        color: var(--bd-primary);
    }
    
    .container {
        padding: 0;
        margin: 0;
        width: 100%;
        & .bd-frame {
            width: 60%;
            height: auto;
            margin: auto;
            font-family: 'Montserrat';
            & .bd-footer {
                width: 100%;
                padding: 2px 20px 20px;
                background-color: var(--bd-secondary);
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                & .bd-disclaimer {
                    width: 100%;
                    font-size: 12px;
                }
                & .bd-address {
                    width: 100%;
                    font-size: 12px;
                    padding-bottom: 5px;
                    text-align: left;
                }
                & .bd-group {
                    padding: 5px 0px 30px 0px;
                    width: 100%;
                    & .bd-copyright {
                        width: 70%;
                        float: left;
                        font-size: 12px;
                    }
                    & .bd-slinks {
                        width: 30%;
                        float: right;
                        text-align: end;
                        & a {
                            padding-left: 2px;
                        }
                        & .bd-ft-svg {
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
            & .bd-body {
                padding: 2px 20px 15px;
                height: auto;
                width: 100%;
                & p {
                    text-align: left;
                }
                & h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    text-align: left;
                    font-family: sans-serif;
                    padding-bottom: 5px;
                }
            }
            & .bd-header {
                width: 100%;
                min-height: 50px;
                max-height: 90px;
                padding: 45px 20px 15px;
                & .bd-logo {
                    min-width: 80px;
                    min-height: 22px;
                    max-width: 120px;
                    max-height: 40px;
                }
            }
        }
    }